<swiper-container
  class="mySwiper"
  pagination="true"
  pagination-clickable="true"
  navigation="true"
  effect="fade"
  autoplay-delay="3000"
  autoplay-disable-on-interaction="false"
>
  <swiper-slide>
    <div class="my-[30px]">
      <img src="/images/welcom-Betak.png" class="w-full h-[450px] object-cover" alt="" />
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="my-[30px]">
      <img src="/images/fashin.png" class="w-full h-[450px] object-cover" alt="" />
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="my-[30px]">
      <img src="/images/electronics.avif" class="w-full h-[450px] object-cover" alt="" />
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="my-[30px]">
      <img src="/images/tvs.webp" class="w-full h-[460px] object-cover" alt="" />
    </div>
  </swiper-slide>

  <!-- <swiper-slide>
    <div class="my-[30px]">
      <img
        src="/images/8d4c329d-2c91-459f-a183-afeb0ca5792d.png"
        class="w-full h-[450px] object-cover"
        alt=""
      />
    </div>
  </swiper-slide> -->
  <!-- <swiper-slide>
    <div class="my-[30px]">
      <img src="/images/electronics2.avif" class="w-full h-[450px] object-cover" alt="" />
    </div>
  </swiper-slide> -->
</swiper-container>
