<div class="container m-auto">
  <app-header>
    <h2 class="text-3xl font-bold tracking-tight text-slate-900 capitalize">
      best
      <span class="bg-gradient-to-r from-main to-orange bg-clip-text text-transparent">
        Brands
      </span>
    </h2>
    <p class="text-sm text-slate-500 mt-1">A selection of our best brands</p>
  </app-header>
  <div class="flex flex-wrap">
    @for (brand of brandList(); track brand._id) {
      <div class="w-1/5">
        <div
          [routerLink]="['/brand', brand.slug, brand._id]"
          class="m-3 pb-3 cursor-pointer group bg-white border text-center border-gray-100 rounded-[.625rem] shadow-sm hover:shadow-2xl hover:translate-y-[.625rem]"
        >
          <div class="p-2 bg-gray-100 overflow-hidden rotate-[10px]">
            <img
              [src]="brand.image"
              class="w-[70%] m-auto object-cover group-hover:scale-120 transition-all duration-300"
              [alt]="brand.name"
            />
          </div>
          <h2>{{ brand.name }}</h2>
          <span
            class="text-[.75rem] text-orange opacity-0 group-hover:opacity-100 transition-all duration-300"
            >View details <i class="fa-solid fa-arrow-right text-[.625rem]"></i
          ></span>
        </div>
      </div>
    }
  </div>
</div>
